@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import "./variables/variables.sass";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(172, 67%, 45%);
  font-family: $family;
}
